/* might be able to delete height if its compressed */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0px;
    background-image: linear-gradient(to right top, #663751, #66355b, #623566, #593673, #493a81, #3a4389, #274c90, #005495, #005f92, #006786, #006d77, #157167);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    

li{
    display: inline-block;
    margin: 20px;
}

figure{
    background-image: url(./image/zubergspitze.jpg);
    height: 200px;
    width: 100%;
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#mainbody{
display: flex ;
height: 100%;
flex-direction: column;
justify-content: space-between;
}

.my-row {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    

}

.my-row h1 {
width: 15%;
text-align: left;
border-right: 2px solid black;
height: 40px;
padding-right: 5px;
margin-top: 5px;
margin-bottom: 0px;
padding-top: 20px;
padding-bottom: 20px;

}

.my-row section{
width: 85%;
height: 50%; 
;

}

article section{
    display: flex;
    justify-content: space-between;
}

#about-text{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#about-me{

}

#footer{
   display: flex;
   justify-content: space-around;
   align-items: center;
}
#footer button{
    background-color: lightblue;
    padding: 10px;
    border-radius: 30%;
    font-size: larger;
    font-weight: bold;
    box-shadow: 2px 2px 2px 2px black;

}